<mat-toolbar><span>My Heroes</span></mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings</button>
  <button mat-menu-item> Help</button>
</mat-menu>

<div>
  <mat-card>
    <label>Hero name:
      <mat-form-field class="example-full-width">
        <input matInput #heroName placeholder="Hero name" value="">
      </mat-form-field>
    </label>
    <mat-card-actions>
      <!-- (click) passes input value to add() and then clears the input -->
      <button mat-raised-button color="primary" (click)="add(heroName.value); heroName.value=''">
        ADD
      </button>
    </mat-card-actions>

    <mat-nav-list>
      <span *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <mat-list-item>
          {{hero.id + ' '+ hero.name}}
          <button mat-button color="warn" title="delete hero" (click)="delete(hero)">x</button>
        </mat-list-item>
      </a>
      </span>
    </mat-nav-list>

    <!--<mat-chip-list class="mat-chip-list-stacked">-->
    <!--<mat-chip *ngFor="let hero of heroes">{{hero.id + ' '+ hero.name}} <button mat-button color="warn" class="delete" title="delete hero" (click)="delete(hero)">x</button>-->
    <!--</mat-chip>-->
    <!--</mat-chip-list>-->


  </mat-card>


</div>
